@baseColor:#ff5545;
.corpusActive{
  color: #ff5545;
  border: 0;
  border-bottom: 2px solid #ff5545;
}

.goodsInfo{
  height: 80px;
  //width: 55%;
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phoneStyle{
  margin-left: 10px;
}
.categoryBox{
  width:100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #fff;
  line-height: 40px;
}
.grayColor{
  color: #999 !important;
}
.flex-2{
  width: 24% !important;
}
.cataText{
  //display: flex;
  //flex: 1;
  display: inline-block;
  width:19%;
  //justify-content: center;
  text-align: center;
}
.noActive{
  border-bottom: 0px;
}
.mt50{
  margin-top: 50px;
}
.goodsLine{
  margin-top: 10px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width:100%;
  box-sizing: border-box;
}
.goodsHead{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.goodsBody{
  background-color: #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}
.shopName{
  margin:0 10px;
  font-size: 16px;
}
.shopImg{
  width: 20px;
  height: 20px;
}
.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.red{
  color: red;
}
.redBorder{
  border: 1px solid red !important;
}
.goodsName{
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 23px;
  display: -webkit-box;
  text-overflow: ellipsis;
  font-size: 16px
}
.goodsPriceNum{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.goodsPrice{
  font-size: 16px;
  line-height: 16px;
  color: coral;
//  以下 1.23
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coral{
  color: coral;
}
.subTitle{
  color: #999;
  font-size: 14px;
  line-height: 14px;
}
.marginTop5{
  margin-top: 5px;
}
.marginBottom10{
  margin-bottom: 10px;
}
.marginTop10{
  margin-top: 10px;
}
.marginTop20{
  margin-top: 20px;
}
.textTitle{
  font-size: 15px;
  line-height: 15px;
}
.goodsTotalPrice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.marginRight10{
  margin-right: 10px;
}
.goodsFoot{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 7.5px 0 7.5px 7.5px;
}
.footText{
  padding: 2.5px 5px;
  border-radius: 5px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  margin-right: 10px;
}
.footLeft{
  margin-right: 7.5px;
  width: 25%;
  text-align: center;
}
.footRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

.border{
  border: 1px solid #eee;
}
.boderBottom{
  border-bottom: 1px solid #eee;
}

/**右箭头 字体大小与颜色**/
.arrow {
  font-size: 16px;
  color: #ccc;
  width: 20px;
}

@footHeight:40px;
.pagePd{
  padding-bottom: 50px;
}
.footBottom{
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;
  left: 0;
  right: 0;
}
