.member .card {
  margin-bottom: 10px;
  float: left;
  box-sizing: border-box;
  border-radius: 10px;
  height: auto;
  width:100%;
  position: relative;
}
.member .card img {
  box-sizing: border-box;
  top:0px;
  z-index: 0;
  width:100%;
  height:auto;
}
.member .card .logo {
  position:absolute;
  top:14%;
  left:9%;
  width:40px;
  height:40px;
  border-radius: 50%;
  background-size: cover;
}
.member .card .code {
  position:absolute;
  top:43%;
  left:9%;
  color:#fff;
  width:auto;
  font-size: 18px;
  line-height: 28px;
}
.member .card .name {
  position:absolute;
  top:17%;
  left:23%;
  color:#fff;
  width:auto;
  font-size: 18px;
  line-height: 28px;
}


.member .card .descr {
  position:absolute;
  right:8%;
  bottom:37%;
  width:auto;
  color:#fff;
  font-size: 14px;
  line-height: 16px;
}

.member .card .balance {
  position:absolute;
  right:7%;
  bottom:22%;
  width:auto;
  color:#fff;
  font-size: 24px;
  line-height: 28px;
}
