
.member .coupon {
  margin-bottom: 10px;
  float: left;
  box-sizing: border-box;
  height: auto;
  width:100%;
  position: relative;
  height: 120px;
}

.member .coupon .listbox {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  border-style: solid;
  border-color: #ddd;
  height: 100px;
  box-sizing: border-box;
}

.member .coupon .logo {
  position:absolute;
  top:12%;
  left:5%;
  width:30px;
  height:30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ccc;
  border: 1px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
  background-size: cover;
}

.member .coupon .nickName {
  position:absolute;
  top:13%;
  left:17%;
  color:#333;
  width:auto;
  font-size: 16px;
  line-height: 28px;
}

.member .coupon .name {
  position:absolute;
  top:40%;
  right:5%;
  color:#333;
  width:auto;
  font-size: 18px;
  line-height: 28px;
}

.member .coupon .memo {
  position:absolute;
  left:5%;
  bottom:10%;
  width:auto;
  color:#ccc;
  font-size: 14px;
  line-height: 16px;
}

.member .box {
  position:relative;
  margin: 60px 20px auto 20px;
  border-radius: 5px;
  height: 410px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
}

.member .box .logo {
  position:absolute;
  top:-20px;
  left:45%;
  width:40px;
  height:40px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ccc;
  border: 1px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
  background-size: cover;
}

.member .box .name {
  position:relative;
  padding-top: 25px;
  color:#ccc;
  font-size: 14px;
}

.member .box .couponName {
  position:relative;
  padding-top: 20px;
  font-size: 18px;
}


.member .box .descr {
  position:relative;
  padding-top: 0px;
  color:#ccc;
  font-size: 14px;
}

.member .box .intro {
  position:relative;
  padding-top: 20px;
  color:#ccc;
  font-size: 12px;
}




