
.member .reward {
  float: left;
  box-sizing: border-box;
  height: 50px;
  width:100%;
  position: relative;
}

.member .reward .logo {
  position:absolute;
  margin-top: 5px;
  margin-left: 10px;
  width:30px;
  height:30px;
  border-radius: 50%;
}

.member .reward .memo {
  position:absolute;
  margin-top: 5px;
  margin-left: 50px;
  width:60%;
  color:#000;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
}


.member .reward .createDate {
  position:absolute;
  margin-top: 28px;
  margin-left: 50px;
  width:auto;
  color:#bbb;
  font-size: 14px;
  line-height: 16px;
}

.member .reward .amount {
  position:absolute;
  bottom:5%;
  right:5%;
  color:red;
  width:auto;
  font-size: 18px;
  line-height: 28px;
}

